html{
	height: 95%;
}
body{
	height: 100%;
	cursor: default;
}
body{
	/*禁止页面复制选中文本*/
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}
span{
	background-color: #eee;
}
#top{
	height: 10%;
	border: 1px solid #000;
 	border-bottom: 0px;
}
#left{
	width: 200px;
	height: 90%;
	border: 1px solid #000;
	float: left;
	display: inline;
	overflow:auto;
}
#line{
	float: left;
	display: inline;
	width: 0px;
	height: 90%;
	border: 2px solid transparent; /*透明*/
	cursor: e-resize;
}
#right{
	width: auto;
	height: 90%;
	border: 1px solid #000;
	overflow:auto;
}
.content{
	margin: 14px;
}
.dir0{
	display: block;
	border: 1px solid #999;
	overflow: hidden; /*文字超出边界显示三点*/
	text-overflow: ellipsis; /*文字超出边界显示三点*/
	white-space: nowrap; /*文字超出边界显示三点*/
}
.dir1{
	display: block;
	border: 1px solid #999;
	padding-left: 20px;
}
.dir2{
	display: block;
	border: 1px solid #999;
	padding-left: 20px;
}
#contextmenu_right{
	min-width: 80px;
	border: 1px solid #000;
	background-color: #fff;
	display: none;
	position: fixed;
}
#contextmenu_right ul{
	margin: 7px 0;
	padding: 0;
}
#contextmenu_right ul li{
	margin: 3.5px 0;
	padding: 0 7px;
	list-style-type: none;
}
#contextmenu_right ul li:hover{
	background-color: #F1F7FF;
}


/*字体图标*/
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline;
}
.icon-xiangxia:before { content: "\f01a6"; }
.icon-xiangyou:before { content: "\f01a9"; }